<%- include('head.ejs') %>

    <h1>Products</h1>
    <div class="container">
        <% for(var i=0; i < products.length; i++) { %>
            <div class="product-item">
                <p><a>
                        <%= products[i].name %>
                    </a>
                </p>
                <p>
                    <%= products[i].description %>
                </p>
                <span>
                    $<%= products[i].price %>
                </span>
                <form action="/addToCart" method="post">
                    <input type="text" name="name" value="<%= products[i].name %>" hidden>
                    <input type="text" name="price" value="<%= products[i].price %>" hidden>
                    <input type="text" name="id" value="<%= products[i].id %>" hidden>
                    <input class="add-to-cart" type="submit" value="Add to Cart">
                </form>
            </div>
            <% } %>
    </div>
    <%- include('end.ejs') %>