<%- include('head.ejs') %>
    <h1>Shopping Cart Products</h1>
    <div class="container">
        <%if (products.length==0) { %>
            Shopping cart is empty
            <% } %>
                <% for(var i=0; i < products.length; i++) { %>
                    <div class="product-item">
                        <p><a>
                                <%= products[i].name %>
                            </a>
                        </p>
                        <span>
                            $<%= products[i].price %>
                        </span>
                        <p>
                            Quantity: <%= products[i].quantity %>
                        </p>
                    </div>
                    <% } %>
    </div>

    <%- include('end.ejs') %>